 .controls{
     position: absolute;
     right: 0;
     bottom: 0;
}

.color-controls{
    text-align: right;
}

input[type=color]{
    border: none;
    background: none;
    width: 60px;
    height: 40px;
}

button{
 background: transparent;
 color: goldenrod;
 border: 2px solid white;
 cursor: pointer;
 padding: 6px 8px;
}

button:hover{
    color: rgb(255, 207, 95);
}

input[type=range]{
    -webkit-appearance: none;
    margin: 20px 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}